.processSectionBg {
  background-color: #f7fbff;
  border-radius: 20px;
}

.processCardHeading {
  font-size: 17px;
  text-align: center;
}

.processSectionTitle {
  font-size: 38px;
  text-align: center;
  font-weight: bolder;
}

.borderRadius {
  border-radius: 43px;
}

.processCard {
  border-radius: 20px;
}

.processSectionImageBg {
  border-radius: 20px;
  height: 150px;
  background-color: #f7fbff;
}
