.styleCard {
  border-radius: 25px;
  opacity: 1;
  background-color: #fff;
  cursor: pointer;
}

.pricingBtn {
  /* width: 200px;
  height: 59px; */
  padding: 10px 30px;
  background: #0262fa 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  font-size: 15px;
  letter-spacing: 0px;
  color: #fff;
  opacity: 1;
  transition: 0.3s;
}
.dateStyle {
  font-size: 30px;
  color: #ffc12c;
  font-weight: bold;
  opacity: 100%;
}
.priceStyle {
  font-size: 60px;
  color: #0262fa;
}
.wordStyle {
  font-size: 27px;
  font-weight: bolder;
}

.styleCard:hover,
.styleCard:hover h2,
.styleCard:hover h1 {
  background: #0262fa;
  color: #ffffff;
}
.pricingTitle {
  font-size: 38px;
  font-weight: bolder;
}

.styleCard:hover .pricingBtn {
  background-color: #fff;
  color: #0262fa;
}
.active {
  background-color: #0262fa;
  color: #fff;
}

.active * {
  color: #fff;
}

.active button {
  background-color: #fff;
  color: #0262fa;
}
