.styleCard {
  width: 293px;
  height: 396px;
  border-radius: 25px;
  opacity: 1;
}
.dateStyle {
  font-size: 30px;
  color: #ffc12c;
  opacity: 100%;
}
.priceStyle {
  font-size: 60px;
  color: #0262fa;
}
.priceStyle:hover {
  color: #ffffff;
}
.wordStyle {
  font-size: 30px;
}

.styleCard:hover {
  background: #0262fa;
  color: #ffffff;
  opacity: 100%;
}
.pricingTitle {
  font-size: 38px;
  font-weight: bolder;
}
