.headerContainer {
  background-image: url("../../../images/Mask\ Group\ 16.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #0254f9;
}

.text {
  width: 50%;
  line-height: 28px;
}

.headingText {
  width: 59.4%;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    background-image: url("../../../images/mobileBanner.svg");
    height: 400px;
    width: 100%;
  }

  .headingText {
    margin-top: 18px;
    line-height: 30px;
    width: 100%;
  }

  .text {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .text {
    width: 45%;
  }
}
