.btn {
    border: none;
    background-color: #CBDCFF;
    color: #0254F9;
    padding: 5px 15px;
}

.social>input {
    border: none;
    background-color:#F4F8FF;
    width: 100%;
    padding: 10px;
    color: #0254F9;
    font-weight: 400;
    border-radius: 10px;
}
