.question {
  padding: 5% 10%;
  width: 100%;
  height: 100%;
  background: #f7fbff 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  margin-top: 60px;
}

.lama {
  position: absolute;
  z-index: -1;
  top: -260px;
  right: 10px;
}

.flower {
  position: absolute;
  z-index: -1;
  bottom: 20px;
  left: -50px;
}

.acc {
  z-index: 90;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.questionText {
  margin-bottom: 10%;
  font-size: 44px;
}

.questionBoxLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7%;
  font-size: 24px;
  color: #868b99;
}

.questionIcon {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f0f4f8;
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  .question {
    padding: 5px;
  }
}
