html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f7fbff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.beforeAfter {
  display: flex;
  flex-direction: row;
}

.beforeAfter:before, .beforeAfter:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #ddd;
  margin: auto;
}

.beforeAfter:before {
  margin-right: 20px;
}

.beforeAfter:after {
  margin-left: 20px;
}

.input-background {
  background-color: #ecf2f8;
  border: none;
}

.icon-bg {
  background-color: #ecf2f8;
  border-radius: 12px;
}

.fs-7 {
  font-size: 14px;
  line-height: 10px;
}

.image {
  object-fit: contain;
  width: 100%;
  position: relative;
  height: unset;
}

.fb-icon-color {
  color: #315a9e;
}

.banner-text {
  color: #ffc12c;
}

.fs-48 {
  font-size: 48px;
}

.fs-16 {
  font-size: 16px;
}

.fs-24 {
  font-size: 20px;
}

.fs-44 {
  font-size: 44px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-28 {
  font-size: 28px;
}

.fs-22 {
  font-size: 22px;
}

.fs-26 {
  font-size: 26px;
}

.fs-50 {
  font-size: 50px;
}

.fs-19 {
  font-size: 19px;
}

.fs-27 {
  font-size: 27px;
}

.fs-50 {
  font-size: 50px;
}

.fs-15 {
  font-size: 15;
}

.fs-30 {
  font-size: 30px;
}

.fs-60 {
  font-size: 60px;
}

.box-shadow {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.02);
}

.fs-14 {
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .fs-48 {
    font-size: 21px;
    text-align: center;
  }
  .fs-16 {
    font-size: 14px;
  }
  .fs-24 {
    font-size: 20px;
  }
  .fs-44 {
    font-size: 24px;
    line-height: 20px;
  }
  .fs-18 {
    font-size: 18px;
  }
  .fs-20 {
    font-size: 16px;
  }
  .fs-28 {
    font-size: 28px;
  }
  .fs-22 {
    font-size: 22px;
  }
  .fs-26 {
    font-size: 26px;
  }
  .fs-50 {
    font-size: 50px;
  }
  .fs-19 {
    font-size: 19px;
  }
  .fs-27 {
    font-size: 27px;
  }
  .fs-50 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .fs-15 {
    font-size: 15;
  }
  .fs-30 {
    font-size: 30px;
  }
  .fs-60 {
    font-size: 60px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.btn-style {
  border: none;
  color: #0254F9;
  font-weight: 700;
  background-color: #CBDCFF;
  padding: 10px 30px;
  border-radius:5px;
}